<html>
    <head>
        <title>Community Events Board</title>
    </head>
    <body>
      <h1>Community Events Board</h1>
      <div class="event-list">
        <ul>
          {% for event in events %}
            <li>{{ event.event_name }} - {{ event.event_date }} - {{ event.event_type}}</li>
          {% endfor %}
        </ul>
      </div>
      <!-- add a method -->
      <form method = "post" action = "/results" >
        <p> tell me your event name!</p>
        <input type = "text" name = "event_name"/>
        <br>
        <p> tell me your event date!</p>
        <input type = "text" name = "event_date"/>
        <input type = "submit" name = "submit"/>
        <p> Tell me your event category</p>
        <input type = "radio" name = "category" value = "social">social <br>
        <input type = "radio" name = "category" value = "work">work <br>
        <input type = "radio" name = "category" value = "family">family <br>
        <input type = "radio" name = "category" value = "friends">friends <br>
        <!-- ask for event name and date'

      submit button-->
      </form>
      <a href="/friends">Friends</a>
      <br>
      <a href="/work">Work</a>
      <br>
      <a href="/social">Social</a>
      <br>
      <a href="/family">Family</a>
      <br>
      <br>
      <a href="/secret">Clear Events</a>
    </body>
</html>
